---
layout: default
permalink: posts
---

<section>
  <h1>Posts</h1>
  <h2>게시글 {{ site.posts | size }} 개</h2>
  <hr/>
</section>

<section>
  {% assign posts_per_page = 10 %} <!-- 한 페이지에 표시할 게시글 수 -->
  {% assign total_pages = site.posts | size | divided_by: posts_per_page | ceil %}
  {% assign current_page = page.page | default: 1 %}
  
  <!-- 게시글 목록 -->
  {% assign start_index = posts_per_page | times: current_page | minus: posts_per_page %}
  {% assign end_index = start_index | plus: posts_per_page %}
  
  {% for post in site.posts %}
    {% capture post_index %}
      {{ forloop.index0 }}
    {% endcapture %}
    {% assign show_post = post_index | plus: 1 %}
    
    {% if show_post > start_index and show_post <= end_index %}
      <div>
        <strong>
          {% if post.external_url %}
          <a href="{{ post.external_url }}" target="_blank">{{ post.title }}</a>
          {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </strong>
        <p>{{ post.short_description }}</p>
        <p><small>{{ post.categories }} / {{ post.date | date: "%Y-%m-%d" }}</small></p>
        <hr/>
      </div>
    {% endif %}
  {% endfor %}
</section>

<section>
  <!-- 페이지 네비게이터 -->
  <nav>
    <ul style="list-style: none; display: flex; justify-content: center; padding: 0;">
      <!-- 이전 페이지 -->
      {% if current_page > 1 %}
      <li style="margin: 0 5px;">
        <a href="{{ site.baseurl }}/posts?page={{ current_page | minus: 1 }}">이전</a>
      </li>
      {% endif %}
      
      <!-- 페이지 번호 -->
      {% assign max_pages_to_show = 5 %}
      {% assign start_page = current_page | minus: 2 | at_least: 1 %}
      {% assign end_page = start_page | plus: max_pages_to_show | at_most: total_pages %}
      
      {% for page_num in (start_page..end_page) %}
      <li style="margin: 0 5px;">
        {% if page_num == current_page %}
        <span>{{ page_num }}</span>
        {% else %}
        <a href="{{ site.baseurl }}/posts?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
      </li>
      {% endfor %}
      
      <!-- 다음 페이지 -->
      {% if current_page < total_pages %}
      <li style="margin: 0 5px;">
        <a href="{{ site.baseurl }}/posts?page={{ current_page | plus: 1 }}">다음</a>
      </li>
      {% endif %}
      
      <!-- 다음 5페이지 -->
      {% if end_page < total_pages %}
      <li style="margin: 0 5px;">
        <a href="{{ site.baseurl }}/posts?page={{ end_page | plus: 1 }}">></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
